body{
	width:100%;
	height:100%;
	margin:0;
	color:#6c6c6c;
}
.menu1{
	margin-left:50px;
}
.box{
	margin:0 auto;
	max-width:680px;
	padding:1px;
	padding-left:15px;
	padding-right:15px;

}
.menu{
	margin:0;
	/* padding:0; */
	display:inline-block;
	padding-top:15px;
	padding-bottom:15px;
}
.menu>li{
	width:75px;
	display:inline-block;
}
.menu>li>a{
	text-decoration:none;
	display:block;
	width:100%;
	color:#6c6c6c;
}
.bella-1{
	display:inline-block;
	margin-right:100px;
}
.billboard{
	position:relative;
	height: 425px;
	width: 100%;
	background:url(img/billboard.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.billboard .box{
	height:100%;
	position:relative;
}
.email{
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%)
}
.email>button:active, .email>button:hover, .email>button{
	outline:none;
}
.email>button{
	border-radius:100px;
}
.email>img, .email>p, .email>button{
	display:inline-block;
}
button:nth-child(2){
	display:block;
}
button{
	background:#eb5481;
	width:200px;
	height:40px;	
	color:white;
}
.email>p{
	font-size:25px;
	margin-left:5px;
}
/* .services1{ */
	/* width:100%; */
	/* height:280px; */
	/* border:2px solid yellow; */
/* } */
.services2{
	width:182px;
	height:300px;
	text-align:center;
	display:inline-block;
	margin-top:100px;
	color:#998aa3;
	margin-left:20px
}
.services2>p, .services2>img{
	display:inline-block;
	color:#6c6c6c
}
.services2>img{
	margin-left:3px;
	margin-bottom:3px;
}
.com1{
	background:#c1c1c1;
	width:100%;
	height:450px;
}
.com3{
	width:277px;
	height:150px;
	border:2px solid #e9e9e9;
	border-bottom:0;
	text-align:center;
	
}
.com2>img{
	padding-bottom:15px;
	/* vertical-align:bottom */
}
.com2{
	display:inline-block;
	padding-top:80px;
	margin-left:50px;
	vertical-align:bottom
}
.com4{
	width:235px;
	margin:17px auto;
}
.author{
	display:block;
	margin:0 auto;
	/* width:150px; */
}
.name1{
	width:115px;
	margin:0 25%;
}
.name2{
	width:100px;
	margin:0 35%;
}
.text1{
	width:150px;
	margin:0 20%;
}
.text2{
	width:130px;
	margin:0 27%;
}
.client1{
	width:100%;
	height:200px;
}
.client2{
	margin:50px;
}
.client2>img{
	margin-left:15px;
}
.small-1>p{
	display:block;
	width:300px;
}
.small-2>p{
	display:block;
	width:300px;
}
.small-1, .small-2{
	display:inline-block;
	margin-top:50px;
	margin-left:30px;
}
.small-1>img{
	width:300px;
}
.small-2>img{
	width:300px;
}
.to-center{
	text-align:center;
	width:100%;
}
.a2{
	height:150px;
	margin-top:50px
}
.a3{
	background:#38404a;
	height:250px;
}
.a4{
	margin-top:50px
}
.a4>p{
	color:#afbfcf;
	
}
.a4>p>a{
	color:#aab2ff;
	text-decoration:none;
}
.menu3{
	margin:0;
    padding-left:0px;
	padding-top:25px;
}
.menu3>li{
	width:90px;
	display:inline-block;
}
.menu3>li>a{
	text-decoration:none;
	display:block;
	width:100%;
	color:#afbfcf;
}
